{% if request.user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
</li>
{% else %}
<li class="nav-item dropdown">

  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Login/Signup
  </a>


  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="{% url 'signup' %}">signup</a></li>


  </ul>
</li>

{% endif %}